*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 98vw;
    height: 98vh;
    margin: 1vh auto;
    position: relative;
    box-shadow: 3px 3px 3px #282828;
}

img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}

.city{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    font-size: 4em;
    font-family: 'Lobster', cursive;
    color: rgba(255,255,255,0.75);
    text-shadow: 5px 5px 5px black;
}
